@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */
/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
   */

.banner .fp-section {
  background-size: cover;
  background-position: center;
}